header.container-fluid
  .row
    .header-body
      div.container
  // END HEADER

.slider-container
  .slider-control.left.inactive
  .slider-control.right
  ul.slider-pagi
  .slider
    .slide.slide-0.active
      .slide__bg
      .slide__content
        svg.slide__overlay(viewbox='0 0 720 405', preserveaspectratio='xMaxYMax slice')
          path.slide__overlay-path(d='M0,0 150,0 500,405 0,405')
        .slide__text
          h2.slide__text-heading Проект 1
          p.slide__text-desc
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.
          a.slide__text-link Ссылка на проект
    .slide.slide-1
      .slide__bg
      .slide__content
        svg.slide__overlay(viewbox='0 0 720 405', preserveaspectratio='xMaxYMax slice')
          path.slide__overlay-path(d='M0,0 150,0 500,405 0,405')
        .slide__text
          h2.slide__text-heading Проект 2
          p.slide__text-desc
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.
          a.slide__text-link Ссылка на проект





