#content.how
  .container
    .row.header
      h1 Чем мы занимаемся
    .csslogo
      .dev
      .desing
      .seo

    .row#dev
      h2 Разработка
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      h3 Что делаем
      ul.hash
        li
          a(href="#") Пункт 1
        li
          a(href="#") Пункт 2
        li
          a(href="#") Пункт 3
        li
          a(href="#") Пункт 4
        li
          a(href="#") Пункт 5
        li
          a(href="#") Пункт 6

    .row#desing
      h2  Дизайн
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      h3 Что делаем
      ul.hash
        li
          a(href="#") Пункт 1
        li
          a(href="#") Пункт 2
        li
          a(href="#") Пункт 3
        li
          a(href="#") Пункт 4
        li
          a(href="#") Пункт 5
        li
          a(href="#") Пункт 6

    .row#seo
      h2  Продвижение
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
      h3 Что делаем
      ul.hash
        li
          a(href="#") Пункт 1
        li
          a(href="#") Пункт 2
        li
          a(href="#") Пункт 3
        li
          a(href="#") Пункт 4
        li
          a(href="#") Пункт 5
        li
          a(href="#") Пункт 6
  // END HOW