nav.open
  .top
    .container
      ul.row
        li.logo
          img(src="../img/logo-color.png")
          h1 Как Ни Крути
            br
            small Создание сайтов
        li.contacts
          .address
            i.fa.fa-map-marker(aria-hidden='true')
            span
              | г. Волгоград
              br
              | ул. Двинская д. 20
          .phone
            i.fa.fa-phone(aria-hidden='true')
            span
              | 8 (8442)  
              b 563-141
              br
              a(href="#") Заказать звонок
        li.bars
          a.fa.fa-bars(aria-hidden='true')
  .nav
    .container
      ul.row
        li.active
          a(href="#") Главная
        li
          a(href="#") О компании
        li
          a(href="#") Почему мы
        li
          a(href="#") Разработка
        li
          a(href="#") Дизайн
        li
          a(href="#") Продвижение
        li
          a(href="#") Кейсы
        li
          a(href="#") Контакты
  // END NAV