.when-whork
  .container-fluid.line-blue
    .container
      .col-sm-6.text
        h4 Адаптивность —
        p это использование подвижной структуры сайта, изображений масштабируемых под разрешение экрана пользователя. Не для кого не секрет что Google лучше относится в поисковой выдаче к адаптивным сайтам. 
        p Доля мобильных устройст в веб пространстве давно превысила обычные компьютеры, поэтому очень важно что бы пользователи не испытывали дискомфорта на вашем сайте. Мы создаем адаптивные сайты.
      .col-sm-6.device
  .container-fluid.line-red
    .container
      .col-sm-6.accept-file-or-checklist
      .col-sm-6.text
        h4 Все просто —
        p просто беремся за сложные проекты. Простые договоры без скрытых пунктов. Просто предлагаем оптимальные решения для любого бюджета. Просто даем гарантию на работу 12 месяцев. Просто исключаем доплату за незначительные доработки. Просто хватит доверять недобросовесным исполнителям. Просто работать с нами.
  .container-fluid.line-green
    .container
      .col-sm-6.text
        h4 Вы не останитесь одни —
        p Все наши партнеры очень дороги нам и мы никогда, слышите НИКОГДА не оставляем одних своих партнеров. Даже после гарантийного срока мы сделаем все что в наших силах что бы постаратся решить вашу проблему.
        p Выбирайте надежного исполнителя
      .col-sm-6.speech-bubbles
// END WHEN-WHORK