@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

// Core variables and mixins
@import 
"../lib/bootstrap/scss/variables",
"../lib/bootstrap/scss/mixins";

// Reset and dependencies
/* 
@import 
"../lib/bootstrap/scss/normalize",
"../lib/bootstrap/scss/print",
"../lib/bootstrap/scss/glyphicons";
 */

//- Core CSS
 @import 
"../lib/bootstrap/scss/scaffolding",
"../lib/bootstrap/scss/type",
"../lib/bootstrap/scss/code",
"../lib/bootstrap/scss/grid";
/* 
"../lib/bootstrap/scss/tables",
"../lib/bootstrap/scss/forms",
"../lib/bootstrap/scss/buttons";

 */// // Components
/* 
@import
"../lib/bootstrap/scss/component-animations",
"../lib/bootstrap/scss/dropdowns",
"../lib/bootstrap/scss/button-groups",
"../lib/bootstrap/scss/input-groups",
"../lib/bootstrap/scss/navs",
"../lib/bootstrap/scss/navbar",
"../lib/bootstrap/scss/breadcrumbs",
"../lib/bootstrap/scss/pagination",
"../lib/bootstrap/scss/pager",
"../lib/bootstrap/scss/labels",
"../lib/bootstrap/scss/badges",
"../lib/bootstrap/scss/jumbotron",
"../lib/bootstrap/scss/thumbnails",
"../lib/bootstrap/scss/alerts",
"../lib/bootstrap/scss/progress-bars",
"../lib/bootstrap/scss/media",
"../lib/bootstrap/scss/list-group",
"../lib/bootstrap/scss/panels",
"../lib/bootstrap/scss/responsive-embed",
"../lib/bootstrap/scss/wells",
"../lib/bootstrap/scss/close"; 
*/

// Components w/ JavaScript
/* 
 @import
"../lib/bootstrap/scss/modals",
"../lib/bootstrap/scss/tooltip",
"../lib/bootstrap/scss/popovers",
"../lib/bootstrap/scss/carousel";
 */

// // Utility classes
/* 
 @import
"../lib/bootstrap/scss/utilities",
"../lib/bootstrap/scss/responsive-utilities";
 */

$color-blue: #1976d2;
$color-red: #f44336;
$color-green: #66bb6a;

@import
"tpl/customVariables",
"tpl/main",
"tpl/nav",
"tpl/slider",
"tpl/csslogo",
"tpl/how",
"tpl/advantages",
// "tpl/when-whork",
// "tpl/footer",
// "tpl/cube",
"tpl/other";



.services {
  h2 {
    text-align: center;
    margin: 60px auto 30px auto;
  }
  .row {
    h3 {
      padding: 10px 0;
    }
    margin: 60px auto;
    padding: 30px;
    border: 10px solid $color-blue;
    .img {
      text-align: right;
      margin-top: 25px;
    }
    ul {
      padding: 10px 20px;
      li {
        line-height: 2em;
      }
    }
  }
}