$font-family-sans-serif:  'Open Sans', Helvetica, Arial, sans-serif;
$font-size-base: 14px ;
$headings-font-weight: 700;
// $headings-font-family: 'Lora', Arial;

$navbar-border-radius: 0;
$navbar-inverse-bg: #000;
$navbar-inverse-link-color: #fff;

$link-color: #777;
$link-hover-color: #333;