doctype html
html(lang='ru')
  head
    title Как Ни Крути
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    //if lt IE 9
      | [if lt IE 9]
      | script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      | script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      | [endif]
    script(src='http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='./assets/css/style.css')
  body
    #top
    nav.open
      .top
        .container
          ul.row
            li.logo
              img(src='./assets/img/logo-color.png')
              h1
                | Как Ни Крути
                br
                small Создание сайтов
            li.contacts
              .address
                i.fa.fa-map-marker(aria-hidden='true')
                span
                  | г. Волгоград
                  br
                  | ул. Двинская д. 20
              .phone
                i.fa.fa-phone(aria-hidden='true')
                span
                  | 8 (8442)  
                  b 563-141
                  br
                  a(href='#') Заказать звонок
            li.bars
              a.fa.fa-bars(aria-hidden='true')
      .nav
        .container
          ul.row
            li.active
              a(href='#') Главная
            li
              a(href='#') О компании
            li
              a(href='#') Почему мы
            li
              a(href='#') Разработка
            li
              a(href='#') Дизайн
            li
              a(href='#') Продвижение
            li
              a(href='#') Кейсы
            li
              a(href='#') Контакты
      // END NAV
    header.container-fluid
      .row
        .header-body
          .container
      // END HEADER
    #CONTENT
      #content.how
        .container
          .row.header
            h1 Чем мы занимаемся
          .csslogo
            .dev
            .desing
            .seo
          #dev.row
            h2 Разработка
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            h3 Что делаем
            ul.hash
              li
                a(href='#') Пункт 1
              li
                a(href='#') Пункт 2
              li
                a(href='#') Пункт 3
              li
                a(href='#') Пункт 4
              li
                a(href='#') Пункт 5
              li
                a(href='#') Пункт 6
          #desing.row
            h2  Дизайн
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            h3 Что делаем
            ul.hash
              li
                a(href='#') Пункт 1
              li
                a(href='#') Пункт 2
              li
                a(href='#') Пункт 3
              li
                a(href='#') Пункт 4
              li
                a(href='#') Пункт 5
              li
                a(href='#') Пункт 6
          #seo.row
            h2  Продвижение
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            p
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
            h3 Что делаем
            ul.hash
              li
                a(href='#') Пункт 1
              li
                a(href='#') Пункт 2
              li
                a(href='#') Пункт 3
              li
                a(href='#') Пункт 4
              li
                a(href='#') Пункт 5
              li
                a(href='#') Пункт 6
        // END HOW
      .when-whork
        .container-fluid.line-blue
          .container
            .col-sm-6.text
              h4 Адаптивность —
              p
                | это использование подвижной структуры сайта, изображений масштабируемых под разрешение экрана пользователя. Не для кого не секрет что Google лучше относится в поисковой выдаче к адаптивным сайтам.
              p
                | Доля мобильных устройст в веб пространстве давно превысила обычные компьютеры, поэтому очень важно что бы пользователи не испытывали дискомфорта на вашем сайте. Мы создаем адаптивные сайты.
            .col-sm-6.device
        .container-fluid.line-red
          .container
            .col-sm-6.accept-file-or-checklist
            .col-sm-6.text
              h4 Все просто —
              p
                | просто беремся за сложные проекты. Простые договоры без скрытых пунктов. Просто предлагаем оптимальные решения для любого бюджета. Просто даем гарантию на работу 12 месяцев. Просто исключаем доплату за незначительные доработки. Просто хватит доверять недобросовесным исполнителям. Просто работать с нами.
        .container-fluid.line-green
          .container
            .col-sm-6.text
              h4 Вы не останитесь одни —
              p
                | Все наши партнеры очень дороги нам и мы никогда, слышите НИКОГДА не оставляем одних своих партнеров. Даже после гарантийного срока мы сделаем все что в наших силах что бы постаратся решить вашу проблему.
              p Выбирайте надежного исполнителя
            .col-sm-6.speech-bubbles
      // END WHEN-WHORK
      .container-fluid.cube-container
        .cube
          .container
            .back.side
            .left.side
            .right.side
            .top.side
            .bottom.side
            .front.side
        // END cube
      // END CONTENT
    footer.container-fluid
      .container
      // END FOOTER


    // Scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='./assets/js/scripts.js')
    // End body
